<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="mef.configuration" type="MefContrib.Hosting.Conventions.Configuration.Section.ConventionConfigurationSection, MefContrib" />
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="Level" value="INFO" />
      </factoryAdapter>
    </logging>
  </common>
  <mef.configuration>
    <parts>
      <!--<part type="" creationPolicy="Shared">
        <exports>
          -->
      <!-- Member not specified -> use the part -->
      <!--
          -->
      <!-- Contract not specified -> use part's type -->
      <!--
          <export>
            <metadata>
              <add name=""/>
            </metadata>
          </export>
        </exports>

        <imports>
          <import member="Main" />
        </imports>
      </part>-->

    </parts>
  </mef.configuration>
  <appSettings>
    <add key="ServerUrl" value="http://127.0.0.1:8081" />
    <add key="ServiceUrl" value="Katrin" />
    <add key="Language" value="es-ES" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMetadataService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/MetadataService.svc" behaviorConfiguration="ServiceViewEventBehavior"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMetadataService"
                contract="MetadataServiceReference.IMetadataService"
                name="MetadataServiceEndPoint" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>