<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Deploy" connectionString="data source=nova;initial catalog=Katrin_WIP;integrated security=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="Deploy" connectionString="data source=10.10.120.4\SQLEXPRESS2008R2,1349;initial catalog=Coevery2;uid=sa;pwd=nova123" providerName="System.Data.SqlClient"/>-->
    
    <add name="Katrin" connectionString="data source=nova;initial catalog=Katrin_WIP;integrated security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>