<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMetadataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/MetadataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetadataService"
                contract="MetadataServiceReference.IMetadataService" name="BasicHttpBinding_IMetadataService" />
        </client>
    </system.serviceModel>
</configuration>