<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CompositeUI" type="Microsoft.Practices.CompositeUI.Configuration.SettingsSection, Microsoft.Practices.CompositeUI" allowExeDefinition="MachineToLocalUser" />
  </configSections>
  <CompositeUI>
    <!--<visualizer>
			<add type="Microsoft.Practices.CompositeUI.WinForms.WinFormsVisualizer, Microsoft.Practices.CompositeUI.WinForms" />
		</visualizer>-->
    <!--http://10.10.120.4/Katrin2/App/Katrin.application-->
    <services>
      <add serviceType="Microsoft.Practices.CompositeUI.Services.IStatePersistenceService, Microsoft.Practices.CompositeUI" instanceType="Microsoft.Practices.CompositeUI.Services.FileStatePersistenceService, Microsoft.Practices.CompositeUI" />
    </services>
  </CompositeUI>
  <appSettings>
    <add key="ServerUrl" value="http://10.10.120.4" />
    <add key="ServiceUrl" value="Katrin" />
    <add key ="Language" value="zh-CN"/>
    <!-- http://ipv4.fiddler-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMetadataService" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7940/MetadataService.svc" behaviorConfiguration="ServiceViewEventBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetadataService" contract="MetadataServiceReference.IMetadataService" name="MetadataServiceEndPoint" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceViewEventBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>