<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows"></authentication>
    <membership defaultProvider="KatrinMembershipProvider">
      <providers>
        <clear />
        <add name="KatrinMembershipProvider" type="Katrin.Services.Security.KatrinMembershipProvider" />
      </providers>
    </membership>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false" />
      </webServices>
    </scripting>
  </system.web.extensions>    
  <connectionStrings>
    <add name="Katrin" connectionString="data source=localhost,1433;initial catalog=master;uid=Katrin;pwd=Katrin;pooling=true;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="Katrin" connectionString="data source=.;initial catalog=Katrin_WIP;integrated security=True;pooling=true;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="Katrin" connectionString="data source=10.10.120.4\SQLEXPRESS2008R2,1349;initial catalog=Katrin2;uid=sa;pwd=nova123;pooling=true;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="KatrinEntities" connectionString="metadata=res://*/Metadata.MetadataModel.csdl|res://*/Metadata.MetadataModel.ssdl|res://*/Metadata.MetadataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nova;initial catalog=Katrin_WIP;integrated security=True;pooling=True;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding allowCookies ="true"/>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="true">
          <security mode="None"></security>
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <!--<security>
            <requestFiltering>
                <requestLimits maxQueryString="16384">
                    <headerLimits>
                        <add header="Content-Type" sizeLimit="100" />
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>-->
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="True" />
  </system.serviceModel>
</configuration>